.results {
    display: flex;
    position: absolute;
    width: 50%;
    min-width: 400px;
    margin: auto;
    margin-top: 95px;
    height: 1000px;
    z-index: -1;
    justify-content: left;
    padding: 5%;
}